@model FIT5032_Assignment.Models.UserHomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Content/Images/gym.jpg" srcset="~/Content/Images/gym_640.jpg 640w,~/Content/Images/gym_320.jpg 320w" sizes="(max-width: 400px) 320px,640px" alt="Elva dressed as a fairy">
<div class="row">
    <div class="col-lg-7">
        <div class="row">
                <h2>New Classes</h2>
                <h4>@Html.ActionLink("Nearby Classes","NearByClasses")</h4>
        </div>

        <div class="row">
            @foreach (var course in Model.TrainingCourses)
            {
                <div class="col-md-3">
                    <h4>@course.CourseName</h4>
                    <h4>@course.CourseHeldLocation</h4>
                    <h4>@course.CourseDescribtion</h4>
                    <h4>@course.CourseCapacity</h4>
                    @Html.ActionLink("Detail", "Details", "TrainingCourses", new { id = course.Id }, new { }) 
                    |
                    @Html.ActionLink("Booking Course", "Booking", "Booking", new { id = course.Id }, new { })
                </div>
            }
        </div>
    </div>
    <div class="col-md-5">
        <h2>My Timetable</h2>
    </div>
</div>
