@model FIT5032_Assignment.Models.TrainingCourse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>

<div>
    <h4>TrainingCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseHeldLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseHeldLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescribtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescribtion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreRequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreRequestId)
        </dd>

        <dt>
            Coach Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.FirstName) @Html.DisplayFor(model => model.AspNetUser.LastName)
        </dd>
    </dl>

    <div id="map"></div>
</div>
<p>
    @if (User.IsInRole("Coach"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.Label(" |")
        @Html.ActionLink("Control Bookings", "ControlBookings", new { id = Model.Id })
        @Html.Label(" |")
        @Html.ActionLink("Sending Email to Members","SendingEmail",new { id = Model.Id })
    }

    <a href="javascript:history.back()">Back</a>
</p>
<script>
    function initMap() {
      var uluru = {lat: @Model.LocationLatitude, lng: @Model.LocationLongitude};
      var map = new google.maps.Map(
          document.getElementById('map'), { zoom: 4, center: uluru });
        var marker = new google.maps.Marker({ position: uluru, map: map });
        map.setZoom(17);
    }
    initMap();
</script>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]&callback=initMap">
</script>