@model FIT5032_Assignment.Models.TrainingCourseDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var course = Model.TrainingCourse;
    var booking = Model.Booking;
}

<h2>Details</h2>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>

<div>
    <h4>TrainingCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => course.CourseCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.CourseCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => course.CourseHeldLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.CourseHeldLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => course.IsOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.IsOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => course.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => course.PreRequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => course.PreRequestId)
        </dd>

        <dt>
            Coach Name
        </dt>

        <dd>
            @Html.DisplayFor(model => course.AspNetUser.FirstName) @Html.DisplayFor(model => course.AspNetUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => course.CourseDescribtion)
        </dt>

        <dd>
            @Html.Raw(course.CourseDescribtion)
        </dd>
    </dl>

    <div id="map"></div>
</div>
<p>
    @if (User.IsInRole("Coach"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = course.Id })
        @Html.Label(" |")
        @Html.ActionLink("Control Bookings", "ControlBookings", new { id = course.Id })
        @Html.Label(" |")
        @Html.ActionLink("Sending Email to Members", "SendingEmail", new { id = course.Id })
    }
    else if (User.IsInRole("User"))
    {
        if (booking == null)
        {
            @Html.ActionLink("Booking", "Booking", "Booking", new { id = course.Id }, null) @Html.Label(" |")
        }
        else
        {
            @Html.ActionLink("Cancel Booking", "Delete","Booking", new { id = booking.Id},null) @Html.Label(" |")
        }

    }

    <a href="javascript:history.back()">Back</a>
</p>
<script>
    function initMap() {
      var uluru = {lat: @course.LocationLatitude, lng: @course.LocationLongitude};
      var map = new google.maps.Map(
          document.getElementById('map'), { zoom: 4, center: uluru });
        var marker = new google.maps.Marker({ position: uluru, map: map });
        map.setZoom(17);
    }
    initMap();
</script>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"]&callback=initMap">
</script>