@model FIT5032_Assignment.Models.TrainingCourseTimetable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrainingCourseTimetable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLastOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLastOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseId.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId.CourseName)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Coach"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @Html.Label("|")
}

    @Html.ActionLink("Back to List", "Index")
</p>
