@model IEnumerable<FIT5032_Assignment.Models.TrainingCourseTimetable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLastOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLastOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
