@model FIT5032_Assignment.Models.CancelBookingModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BookingModel = Model.Booking;
}

<h2>Delete</h2>

<h3>Are you sure want to Cancel booking this?</h3>

<div>
    <h4>Class Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => BookingModel.TrainingCourse.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => BookingModel.TrainingCourse.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => BookingModel.BookingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => BookingModel.BookingTime)
        </dd>
        <dt>
            Coach Name
        </dt>
        <dd>
            @Html.DisplayFor(model => BookingModel.TrainingCourse.AspNetUser.FirstName) @Html.DisplayFor(model => BookingModel.TrainingCourse.AspNetUser.LastName)
        </dd>

        <dd>
            You can leave a comment for the reason of this cancelation
        </dd>
        <dd>
            @Html.TextBoxFor(model=>model.Comment)
        </dd>
    </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Cancel", "Index")
            </div>
        }
</div>