@model IEnumerable<FIT5032_Assignment.Models.CourseBooking>
@{
    ViewBag.Title = "FInishedBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink("Booking", "Index")</h2>
<h2>FInished Bookings</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrainingCourse.CourseName)
        </th>
        <th>
            "Coach Name"
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingCourse.IsOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingCourse.CourseHeldLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
    </tr>

    @foreach (var booking in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => booking.TrainingCourse.CourseName)
            </td>
            <td>
                @Html.DisplayFor(item => booking.TrainingCourse.AspNetUser.FirstName)  @Html.DisplayFor(item => booking.TrainingCourse.AspNetUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(item => booking.BookingTime)
            </td>
            <td>
                @Html.DisplayFor(item => booking.TrainingCourse.CourseHeldLocation)
            </td>
            <td>
                @Html.DisplayFor(item => booking.Feedback)
            </td>
            @if (!booking.IsRated)
            {
                @Html.ActionLink("Edit Rating", "EditRating", new { id = booking.Id })
            }
            else
            {
                @Html.ActionLink("Rating Course", "Rating", new { id = booking.Id })
            }
            <td>
            </td>
        </tr>
    }
</table>