@model FIT5032_Assignment.Models.CourseBookingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookings = Model.Bookings;
}

<h2>Your Booking</h2>
<h2>@Html.ActionLink("Finished Booking","FinishedBooking")</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => bookings.FirstOrDefault().TrainingCourse.CourseName)
        </th>
        <th>
            "Coach Name"
        </th>
        <th>
            @Html.DisplayNameFor(model => bookings.FirstOrDefault().BookingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => bookings.FirstOrDefault().TrainingCourse.IsOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => bookings.FirstOrDefault().TrainingCourse.CourseHeldLocation)
        </th>
    </tr>

    @foreach (var booking in bookings)
    {
    <tr>
        <td>
            @Html.DisplayFor(item => booking.TrainingCourse.CourseName)
        </td>
        <td>
            @Html.DisplayFor(item => booking.TrainingCourse.AspNetUser.FirstName)  @Html.DisplayFor(item => booking.TrainingCourse.AspNetUser.LastName)
        </td>
        <td>
            @Html.DisplayFor(item => booking.BookingTime)
        </td>
        <td>
            @Html.DisplayFor(item => booking.TrainingCourse.IsOver)
        </td>
        <td>
            @Html.DisplayFor(item => booking.TrainingCourse.CourseHeldLocation)
        </td>
        <td>
            @Html.ActionLink("Cancel Booking","Delete",new { id = booking.Id})
        </td>
    </tr>
    }
</table>