@model FIT5032_Assignment.Models.RatingViewModel
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating Your Couse</h2>
<h3>Course Name: @Model.BookingName</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BookingId)
    @Html.HiddenFor(model => model.BookingName)
    <div class="form-horizontal">
        <div class="form-group">
            Rating Score
            <div>
                @Html.EditorFor(model => model.RatingScore)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Feedback)
            <div>
                @Html.TextAreaFor(model => model.Feedback)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}